[Desktop Entry]
Type=Application
Name=Firmium
Comment=Subsonic Desktop Music Streamer
Exec={{exec}}
Icon=multimedia-audio-player
Terminal=false
Categories=Audio;Music;Player;AudioVideo;