# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node dependencies
node_modules/

# Rust build artifacts & caches
src-tauri/target/

# Log files and OS files
npm-debug.log*
.DS_Store
Thumbs.db

# PKG
pkg
pkg/firmium-desktop

# misc
releasechangelogs