pkgbase = firmium-desktop
	pkgdesc = Lightning fast OpenSubsonic player in Tauri
	pkgver = 1.4.0
	pkgrel = 1
	url = https://github.com/fossisawesome/firmium
	arch = x86_64
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = npm
	makedepends = nodejs
	makedepends = libxdo
	makedepends = libxcb
	makedepends = libxcb-render
	makedepends = libxcb-shape
	makedepends = libxcb-xfixes
	depends = webkit2gtk-4.1
	depends = alsa-lib
	depends = openssl
	depends = libsecret
	options = !strip
	source = firmium-desktop-1.4.0.tar.gz::https://github.com/fossisawesome/firmium/archive/refs/tags/v1.4.0.tar.gz
	sha256sums = 1fb4b0ef54c95d4430072710576d852ffe44c5048f2970a84178aef5178a5c9b

pkgname = firmium-desktop
